---
layout: base
---
<script>
!function(n) {
    var e = n.document,
    t = e.documentElement,
    i = 640,
    d = i / 100,
    o = "orientationchange" in n ? "orientationchange": "resize",
    a = function() {
        var n = t.clientWidth || 320;
        n > 640 && (n = 640),
        t.style.fontSize = n / d + "px"
    };
    e.addEventListener && (n.addEventListener(o, a, !1), e.addEventListener("DOMContentLoaded", a, !1))
} (window);
</script>


<!-- Banner -->
<div class="jumbotron">
	<div class="container text-center">
    <span class="jumbo-text">
		{% if site.jumbotron_image %}
			<img src="{{ site.baseurl }}/img/{{ site.jumbotron_image }}"
			     alt="{{ site.title }} Icon" />
		{% endif %}
		<header>
			<h1 id="jumbo-header"><strong>{{ site.data.course.description }}</strong></h1>
		</header>
    <h3><span id="jumbo-subheader">Ethics Bowl China Online Learning Platform</span></h3>
    </span>
	</div>

</div>
<div class="container">
	<div class="clearfix">
		<section id="homepage-text">
			{{ content }}
		</section>
	</div>
</div>
