---
layout: base
---

<!-- Banner -->
<div class="jumbotron">
	<div class="container text-center">
    <span class="jumbo-text">
		{% if site.jumbotron_image %}
			<img src="{{ site.baseurl }}/img/{{ site.jumbotron_image }}"
			     alt="{{ site.title }} Icon" />
		{% endif %}
		<header>
			<h1>{{ site.data.course.description }}</h1>
		</header>
    <h3>An online course from the folks who brought you <a href="http://makingandlearning.org" target="_blank">Making and Learning</a>.</h3>
    </span>
	</div>

</div>
<div class="container">
	<div class="clearfix">
		<section>
			{{ content }}
		</section>
	</div>
</div>
