---
layout: base
---
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<script type="text/javascript">
   (function (doc, win) {
      var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
          var clientWidth = docEl.clientWidth;
          if (!clientWidth) return;
          docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';//其中“20”根据你设置的html的font-size属性值做适当的变化
        };

      if (!doc.addEventListener) return;
      win.addEventListener(resizeEvt, recalc, false);
      doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<!-- Banner -->
<div class="jumbotron">
	<div class="container text-center">
    <span class="jumbo-text">
		{% if site.jumbotron_image %}
			<img src="{{ site.baseurl }}/img/{{ site.jumbotron_image }}"
			     alt="{{ site.title }} Icon" />
		{% endif %}
		<header>
			<h1 id="jumbo-header"><strong>{{ site.data.course.description }}</strong></h1>
		</header>
    <h3><span id="jumbo-subheader">Ethics Bowl China Online Learning Platform</span></h3>
    </span>
	</div>

</div>
<div class="container">
	<div class="clearfix">
		<section id="homepage-text">
			{{ content }}
		</section>
	</div>
</div>
